@page {
    width: 61mm;
    height: 10mm;
    padding: 0.5mm;
}

.label {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
}
  