@page {
    height: 13mm;
    width: 62mm;
    margin: 0;
    padding: 0;
}

.label {
    display: grid;
    grid-template-areas:"picture text qr_code";
    grid-template-columns: 13mm 1fr 13mm; /* Fixed width for picture and QR code, flexible for text */
    align-items: start; /* Align items vertically */
    gap: 0.5mm; /* Space between items */
    height: 13mm;
    width: 62mm;
}

.picture {
    grid-area: picture;
    height: 13mm;
    width: 13mm;
    object-fit: contain;
    image-rendering: high-quality;
    border-radius: 50%;
}

.qr_code {
    grid-area: qr_code;
    height: 13mm;
    width: 13mm;
    object-fit: contain;
    image-rendering: pixelated;
}

.text {
    padding-top: 0.3mm;
    grid-area: text;
    width: 35mm;
    font-family: arial, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 12px;
    word-wrap: break-word;
    white-space: normal;
}

.date
{
    font-size: 13px;
    font-weight: bold;
    color: #333;
}