@page {
    width: 61mm;
    height: 9mm;
}

.text {
    width: 61mm;
    height: 9mm;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
}
  